#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/** Hide arrow in number input */
@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
    appearance: none;
  }
}
